.fill-height {
  height: calc(80vh - 114px);
}

.boldit {
  font-weight: bold !important;
}

svg.blocklySvg {
  height: 100vh;
}
.fill-height {
  height: 100vh;
}

.blocklyTreeLabel{
  font-size: 1.1rem;
}

.blocklyToolboxCategory{
  padding-top: 20%;
}