.protocol-list{
    width: 90%;
    /* max-width: 1000px; */
    margin: 2rem auto;
}

/* .protocol-list-item{
    display: grid;
    grid-template-columns: 1fr 12fr;
} */

.protocol{
    background-color: #bacddb;
    color: #444;
    margin: 1rem 0;
}

.protocol-general{
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    column-gap: 1rem;
    padding: 0.5rem 3rem 0.5rem 1rem;
    min-height: 3.5rem;
    line-height: 1.25rem;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.protocol-general .info-cell{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
    align-items: center;
    justify-content: center;
}


/* .protocol-general .info-cell#check{
} */

.protocol-general .info-cell .label{
    margin: 0;
    color: #444;
}

.protocol-general::after{
    content: "\002B";
    font-size: 2rem;
    position: absolute;
    right: 1rem;
    transition: 0.2s ease-in-out;
}

.protocol-general.active::after{
    content: "\2212";
}

.protocol-body{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.protocol-body-content{
    padding: 1rem;
    line-height: 1.5rem;
    border-top: 2px dashed #120d63;
}

#check input.check-to-run{
    width: 32px;
    height: 32px;
}

.protocol-body-content table.dropdown-table{
    width: 100%;
    align-content: center;
}

.protocol-body-content table.dropdown-table tr{
    height: 42px;
    align-content: center;
}

.protocol-body-content table.dropdown-table td{
    width: 33%;
}

.protocol-body-content .protocol-options{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 75px;
    gap: 10px;
    align-items: center;
    padding-bottom: 20px;
}

.protocol-body-content .protocol-options button{
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 3px;
    color:#8a8a8a;
    background-color: #bacddb;
    font-size: 14px;
    text-transform: uppercase;
    transition: 0.2s;
}

.protocol-body-content .protocol-options button:active,
.protocol-body-content .protocol-options button:hover
{
    border: 1px solid #120d63;
    color: #000;
    background-color: #fff;
}




/*Obsolete down*/

/* .accordion {
    display: grid;
    grid-template-columns: auto auto;
}

.active, .accordion:hover {
    background-color: #fff;
} */

/* .accordion:hover{
    border: 2px solid #120d63;
}

.protocol-container{
    background-color: #bacddb;
    color: #444;
    cursor: pointer;
    display: flex;
    border: none;
    border-bottom: 2px dashed #bebebe;
    text-align: left;
    outline: none;
    font-size: 18px;
    transition: 0.2s;
}

.protocol-container .info-cell{
    float: left;
    display: flex;
    align-items: center;
    height: auto;
    width: 20%;
    padding-right: clamp(15px, 5%, 50px);
    margin-right: auto;
} */    



