:root {
    --root-font-size: 20px;
    --color-1: #bacddb;
    --color-2: #123d5f;
    --color-3: #4242FF;
}
html {
    font-size: var(--root-font-size);
}
body {
    font-family: Arial, sans-serif;
    background-color: #F1F1F1;
    margin: 0;
    padding: 0;
}