/*HEADER*/
.page-header {
    width: 95%;
    padding-top: 2vh;
    margin: 0 auto;
    position: sticky;
    top: 0px;
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 6fr;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.search-bar {
    box-sizing: border-box;
    font-weight: 300;
    width: 100%;
    border-radius: 8px;
    padding: 15px 20px;
    font-size: calc(var(--list-header-height) * 0.35);
    border: none;
    outline: none;
}

.search-bar:focus {
    -webkit-box-shadow: 0px 0px 0px 2px var(--color-primary);
    -moz-box-shadow: 0px 0px 0px 2px var(--color-primary);
    box-shadow: 0px 0px 0px 2px var(--color-primary);
}

/* --------------PROTOCOL LIST --------------*/

.protocol-list {
    width: 95%;
    margin: 2rem auto;
}

/*------------- PROTOCOL CARD ------------*/

.protocol {
    background-color: #fff;
    border-radius: 8px;
    margin: 1rem 0;
    overflow: hidden;
}

.protocol-general {
    display: grid;
    padding: 0 5vw;
    align-items: center;
    position: relative;
    cursor: pointer;
    transition: all 0.4s ease-in-out, border-bottom 0s;
}

.info-cell-container {
    display: grid;
    grid-template-columns: 2fr 3fr 3fr 3fr;
    /* column-gap: 2%;  LOOKS BAD WITH VERTICAL LINES, THANKS INDUS*/
}

@media (max-width: 1200px){
    .info-cell-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 800px){
    .info-cell-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

.info-cell {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-right: 1px solid var(--color-back);
}

.info-cell:last-of-type{
    border-right: none;
}

.info-cell .label{
    margin-right: 10px;
    color: var(--text-faded);
}

.launch-status{
    border-radius: 8px;
    color: var(--color-primary);
    background-color: #c5cef4;
    display: block;
    text-align: center;
    font-size: 0.7rem;
    padding: 2px 5px;
    margin-left: 5%;
}

.protocol-body{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    transition: all 0.2s ease-in;
    padding: 0 5vw;

    /* font-family: "HelveticaNeueLight";
    font-weight: 100; */
}

.protocol.open .protocol-body{
    border-top: 1px solid var(--color-back);
}


.protocol-body-content .protocol-options {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 10px;
    align-items: center;
    padding-bottom: 20px;
}

.proto-btn {
    height: 40px;
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.proto-btn.avail{
    color: #fff;
    background-color: var(--color-primary);
}

.proto-btn.avail i{
    color: #fff;
}

.proto-btn i {
    font-size: 1.5em;
    margin-right: 10px;
}


/*--------- EXPANDING CARD ANIMATION --------*/
.card-footer{
    display: flex;
    justify-content: center;
    border-top: 1px solid var(--color-back);
}
.arrow{
    height: 30px;
    width: 1px;
    display:block;
    padding: 0.5em;
    margin:0 auto;
    position: relative;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
}

.left-bar {
    position: absolute;
    background-color: transparent;
    top: 50%;
    left:0;
    width: 30px;
    height: 4px;
    display: block;
    transform: rotate(35deg);
    float: right;
    border-radius: 2px;
}

.left-bar::after {
    content:"";
    background-color: var(--text-faded);
    width: 30px;
    height: 4px;
    display: block;
    float: right;
    border-radius: 6px 10px 10px 6px;
    transition: all 0.7s cubic-bezier(.25,1.7,.35,.8);;
    z-index: -1;
}
  
.right-bar {
    position: absolute;
    background-color: transparent;
    top: 50%;
    left:22px;
    width: 30px;
    height: 4px;
    display: block;
    transform: rotate(-35deg);
    float: right;
    border-radius: 2px;
  }

.right-bar::after {
    content:"";
    background-color: var(--text-faded);
    width: 30px;
    height: 4px;
    display: block;
    float: right;
    border-radius: 10px 6px 6px 10px;
    transition: all 0.7s cubic-bezier(.25,1.7,.35,.8);;
    z-index: -1;
}

.protocol.open .left-bar:after {
    transform-origin: center center;
    transform: rotate(-70deg);
}

.protocol.open .right-bar:after {
    transform-origin: center center;
    transform: rotate(70deg);
}

/*-------------------------------------------*/