:root {
    --navbar-width: clamp(250px, 280px, 300px);
    --navbar-width-collapsed: 130px;
    --navbar-lr-padding: 20px;
}

#navbar {
    position: fixed;
    height: 100%;
    background-color: #fff;
    box-sizing: border-box;
    overflow: hidden;
    z-index: 11;
    display: grid;
    grid-template-rows: 2fr 5fr 1fr 1fr;
    padding-bottom: 3vh;
}

#nav-header-open{
    display: flex;
    flex-direction: row;
}

#navbar-menu .nav-item {
    display: flex;
    flex-direction: row;
}


.nav-item-txt-box {
    margin-left: 1em;
    white-space: nowrap;
}

.nav-item-link-closed .nav-item-txt-box {
    display: none;
}

.nav-item span {
    height: 20px;
    width: 30px;
    transition: none;
}

.nav-item-link {
    display: flex;
    height: 9vh;
    flex-direction: row;
    border-bottom: var(--item-border);
    align-items: center;
    box-sizing: border-box;
    padding-left: 30px;
    transition: width var(--navbar-transition-time) ease-in-out;
    overflow: hidden;
}

.nav-item-link-open {
    width: var(--navbar-width);
    justify-content: normal;
}

.nav-item-link-closed {
    width: var(--navbar-width-collapsed);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 30px;
}

/*----------SIDE NAV, OPEN/CLOSE BTN----------*/
#navbar-menu a {
    text-decoration: none;
}

#navbar img{
    width: 100px;
    height: 100px;
}

/*---------------------------------------*/

/*--------USER PROFILE PIC & NAME-----------*/

#user-prof{
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 0 0 0 30px;
    text-align: left;
    align-items: center;
}

#user-prof>[class~="fas"] {
    /* margin-bottom: 1rem; */
    font-size: 3em;
}

#user-prof p{
    font-size: 0.8rem;
}
/*---------------------------------------------*/

#selected-navbar-item {
    background-color: var(--color-back);
}

#selected-navbar-item .nav-item-txt-box,
#selected-navbar-item .fas{
    color: var(--color-primary);
}


.sidenav-open {
    width: var(--navbar-width);
}

.sidenav-closed {
    width: var(--navbar-width-collapsed);
    padding-top: 0px;
}

/*---------------- PROTOCOL PROGRESS--------------*/
#progress-track {
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
}

.protocol-progress-body {
    display: flex;
    flex-direction: row;
}

.bliking-led {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: #3e6a94;
    animation: blink 1s linear infinite;
}

#progress-icon {
    width: auto;
    font-size: calc(var(--navbar-width)/8);
    animation: blink 1s linear infinite;
    padding: 0;
}

.bliking-led.ERROR {
    background-color: #c25b67;
}

#progress-icon.ERROR {
    color: #c25b67;
}

.bliking-led.ONGOING {
    background-color: #3e6a94;
}

#progress-icon.ONGOING {
    color: #3e6a94;
}

.bliking-led.FINISHED {
    background-color: #52914b;
    animation: none;
}

#progress-icon.FINISHED {
    color: #52914b;
    animation: none;
}

.progress-link {
    display: flex;
    height: 8vh;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    padding-left: 30px;
    transition: width var(--navbar-transition-time) ease-in-out;
    overflow: hidden;

}

.progress-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.progress {
    display: flex;
    flex-direction: column;
    margin-left: 1em;
}

.progress p {
    margin: 0;
}

.bliking-icon i {
    width: 40px;
    height: auto;
    color: #fff;
}


@keyframes blink {
    50% {
        opacity: 30%;
    }
}

/*------------------------------------------------*/

.progress-bar {
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: 
      radial-gradient(closest-side, white 79%, transparent 80% 100%),
      conic-gradient(hotpink 15%, pink 0);    
}

.progress-bar::before {
    content: "75%";
}

#progress-track-full{
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;
    border-radius: 8px;
    border: 1px solid #d1d1d1;
    margin: 0 30px;
    padding: 10px 0;
    align-content: space-around
}

#progress-track-full p{
    font-size: 0.8rem;
}


  