:root {
    --navbar-width: clamp(250px, 280px, 300px);
    --navbar-width-collapsed: 120px;
    --navbar-lr-padding: 20px;
    --animation-time: 0.4s
}

#main{
    margin: 0 0 0 var(--navbar-width-collapsed);
    height: 100vh;
    transition: opacity .3s;
    border-left: 10px solid var(--color-back);
}

.sidenav-open+#main{
    opacity: 0.3;
}

#navbar {
    position: fixed;
    height: 100vh;
    background-color: #fff;
    box-sizing: border-box;
    overflow: hidden;
    z-index: 11;
    display: grid;
    grid-template-rows: 2fr 4fr 4fr 2fr;
    padding: 0 0 3vh 0;
    /* border-right: 10px solid var(--color-back); */
    z-index: 1000;
    width: var(--navbar-width-collapsed);

    -webkit-transition: width var(--animation-time);
    -moz-transition: width var(--animation-time) ;
    -o-transition: width var(--animation-time);
    transition: width var(--animation-time);
}

#navbar.sidenav-open {
    width: var(--navbar-width);
}

#nav-header{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
}

#nav-logo{
    float: left;
}


/*----------SIDE NAV, OPEN/CLOSE BTN----------*/
input#menu {
    display: none;
}

.icon {
    background: #FFF;
    cursor: pointer;
    display: block;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    background-color: var(--color-secondary);
    position: relative;
    z-index: 200;
    transition: all 0.2s ease;
}

.sidenav-open .icon{
    left:10px;
}

.icon .menu,
.icon .menu::before,
.icon .menu::after {
    background: var(--color-primary);
    content: '';
    display: block;
    height: 4px;
    position: absolute;
    transition: background ease .2s, top ease .2s .2s, transform ease .2s;
    width: 35px;
    border-radius: 8px;
}

.icon .menu {
    left: 14px;
    top: 29px;
}

.icon .menu::before {
    top: -10px;
}

.icon .menu::after {
    top: 10px;
}

#menu:checked + .icon .menu {
    background: transparent;
}

#menu:checked + .icon .menu::before {
    transform: rotate(45deg);
}

#menu:checked + .icon .menu::after {
    transform: rotate(-45deg);
}

#menu:checked + .icon .menu::before,
#menu:checked + .icon .menu::after {
    top: 0;
    transition: top ease .2s, transform ease .2s .2s;
}

/*----------- NAVBAR ITEMS ------------*/

#navbar-menu .nav-item {
    display: flex;
    flex-direction: row;
}

.nav-item-txt-box {
    margin-left: 1em;
    white-space: nowrap;
}

.nav-item-link-closed .nav-item-txt-box {
    display: none;
}

a.nav-item-link {
    text-decoration: none;
    display: flex;
    height: 9vh;
    flex-direction: row;
    border-bottom: var(--item-border);
    align-items: center;
    box-sizing: border-box;
    padding-left: 30px;
    transition: width var(--navbar-transition-time) ease-in-out;
    overflow: hidden;
}

.nav-item-link-open {
    width: var(--navbar-width);
    justify-content: normal;
}

.nav-item-link-closed {
    width: var(--navbar-width-collapsed);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 30px;
}

/*---------- SELECTED NAVBAR ITEM STYLE ---------*/

#selected-navbar-item {
    background-color: var(--color-back);
}

#selected-navbar-item .nav-item-txt-box,
#selected-navbar-item .svg_icon>path{
    color: var(--color-primary);
    fill: var(--color-primary);
}


/*--------USER PROFILE PIC & NAME-----------*/

#user-prof{
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 0 0 0 30px;
    text-align: left;
    align-items: center;
}

#user-prof>[class~="fas"] {
    /* margin-bottom: 1rem; */
    font-size: 3.5em;
}

#user-prof p{
    font-size: 0.8rem;
}

/*---------------- PROTOCOL PROGRESS--------------*/
#progress-track {
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-bar {
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: 
      radial-gradient(closest-side, white 79%, transparent 80% 100%),
      conic-gradient(hotpink 15%, pink 0);    
}

.progress-bar::before {
    content: "75%";
}

#progress-track-full{
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;
    border-radius: 8px;
    border: 1px solid #d1d1d1;
    margin: 0 30px;
    padding: 10px 0;
    align-content: space-around
}

#progress-track-full p{
    font-size: 0.8rem;
}


  