.tableContainer{
    text-align: center;
    padding: 30px;
}
#recom-table{
    margin: auto;
    justify-content: center; 
    width: 95%;
    border-collapse: collapse;
    color: #fff;
    /* font-weight: 500; */
    table-layout: fixed;
    -webkit-box-shadow: 10px 10px 59px -15px rgba(18, 61, 95, 0.3);
    -moz-box-shadow: 10px 10px 59px -15px rgba(18, 61, 95, 0.3);
    box-shadow: 10px 10px 59px -15px rgba(18, 61, 95, 0.3);
}

col.small{
    background: #8c976b;
}
col.medium{
    background: #6f8b6c;
}
col.large{
    background: #7090a3;
}

.washing{
    background: #6b738a;
}

/* ---------------------------------------------------------------------------------------- */

#recom-table td{
    padding: 40px 0;
    border: 1px solid #f1f1f14b;
    height: auto;
}

#recom-table thead{
    background-color: #123d5f;
    border-bottom: 3px solid #f1f1f1;
    pointer-events: none;
}

#recom-table thead td{
    padding: 0;
    height: 65px;
}

#recom-table .horizontal-thead {
    background-color: #123d5f;
    border-right: 3px solid #f1f1f1;
    width: 65px;
    pointer-events: none;
}

#recom-table td.emptyCell{
    font-style: italic;
    color: #d3d3d3;
    font-weight: 100;
    font-size: smaller;
    letter-spacing: 2px;
}

/*------Hover animations---------*/
#recom-table td.emptyCell:hover{
    animation: emptyAnim 1s;
    -webkit-animation: emptyAnim 1s;
}

@keyframes emptyAnim
{
from {background:#123d5f;}
to {background: initial;}
}

@-webkit-keyframes emptyAnim /* Safari and Chrome */
{
from {background:#123d5f;}
to {background:initial;}
}

#recom-table .liquidCell:hover{
    background-color: #123d5f;
}
/*------------------------------*/


/*----------CONFIRMATION-------------*/
.launchContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.confirm{
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
}


.confirm input[type='checkbox']:checked {
    background-color: #0f9500;
}
.confirm input[type='checkbox']:checked:after {
    content: '\2713';
    font-size: 40px;
    font-weight: bold;
    color:white;
    position: relative;
    bottom: 25px;
    right: 10px;
}
.confirm input[type='checkbox']{
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    height: 50px;
    width: 50px;
    margin: 0;
    appearance:none;
    border-radius:10%;
    border: 2px solid #0b7200;
    box-shadow: none;
    font-size: 1em;
}

.confirm input[type='checkbox']:checked ~ p::before{ 
    content: 'I have completed liquid recommendations!';
}

.confirm p::before{
    content: 'Have you completed liquid recommendations?';
    margin-left: 24px;
}

#launchBtn{
    display: flex;
    align-items: center;
}

#launchBtn button{
    border: 2px solid #0b7200;
    padding: 15px 25px;
    color: #000;
    background-color: #fff;
}
/*----------------------------------------*/
