

#background{
    height: 100vh;
    background-color: var(--color-primary);
    display: grid;
    grid-template-rows: 4fr 1fr;
    justify-items: center;
}

#login-form {
    padding-top: 10vh;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    flex-direction: column;
    width: 30vw;
}

#login-form>form {
    display:grid;
    width: 100%;
    grid-template-rows: auto auto auto auto auto;
    background-color: #fff;
    border-radius: 15px;
    text-align: center;
    padding: 30px 30px;
}

.input-field{
    display: grid;
    grid-template-rows: 1fr 2fr;
    margin-bottom: 40px;
    width: 100%;
    text-align: center;
}

.input-field input{
    outline: none;  /*remove default selected style*/
    /* display: block; */
    border: none;
    border-radius: 8px;
    width: 100%;
    background-color: #eae8e8;
    border: 1px solid #d5d5d5;
    box-sizing: border-box;
    padding: 0 10px;
    font-size:1.2rem;
}

.input-field.active input{
    border: 2px solid #b7c3f5;
} 

.input-field span{
    text-align: left;
    margin-bottom: 5px;
    color: #3b3d44;
    transition-duration: 0.2s;
}


.input-field.active span{
    transform: translate(0px , -10px);
    color: #8a8b92;
}


#error-msg{
    color: var(--color-warning);
    opacity: 1;
    transition-duration: 0.4s;
    transition-property: opacity;
    text-align: center;
}


.form-footer{
    border-top: 1px solid #d1d1d1;
    padding-top: 30px;
}

.form-footer button{
    width: 100%;
    background-color: var(--color-primary);
    color: #fff;
    padding: 15px 0;
}

.form-footer #copyright{
    color: #b3b7c8;
    font-size: 0.8rem;
    padding-top: 10px;
    font-weight: 200;
}


#credits{
    margin-top: auto;
    color: #fff;
    width: 100vw;
    padding: 15px 35%;
    height: fit-content;
    box-sizing: border-box;
    font-size: 18px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: rgb(var(--color-secondary));
    background: linear-gradient(90deg, rgba(38,182,92,0) 0%, 
                                        rgba(var(--color-secondary),1) 30%, 
                                        rgba(var(--color-secondary),1) 70%, 
                                        rgba(38,182,92,0) 100%);
}

.logo img{
    height: 50px;
    width: auto;
}

