:root {
    --root-font-size: 20px;
    --color-1: #bacddb;
    --color-2: #123d5f;
    --color-3: #4242ff;
}

html {
    font-size: var(--root-font-size);
}

body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
}

.centering-flex-box {
    display: flex;
    justify-content: center;
    align-items: center;
}
