.page-header {
    position: sticky;
    height: min(100px, 20vh);
    border-bottom: 2px solid #D8D8DA;
}

#main {
    padding: 0;
}

.search-bar-container {
    height: 100%;
    width: 100%;
}

.search-bar {
    width: 75%;
}