.handle{
    position: absolute;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    border: 2px solid #000;
    padding: 10px;
}

/* BUTTONS (Workspace)*/

button#info-btn{
    height: 50px;
    width: 50px;
    background-color: var(--color-back);
}

button.save-btn{
    height: 50px;
    width: auto;
    width: 25vw;
    color: #fff;
    margin-left: 1vw;
}

button.save-btn.washing{
    background-color: var(--washing);
}

button.save-btn.reagent{
    background-color: var(--reagent);
}

button.save-btn.temperature{
    background-color: var(--temperature);
}

/*------- WORKSPACE BLOCK LAYOUTS -------*/

.inputs{
    justify-content: center;
    align-items: center;
}

.block-body-row{
    display: flex;  
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 5% 0;
    border-bottom: 1px solid var(--color-back); 
}

.block-body-row.col{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2vw;
}

.block-inp{
    display: flex;
    flex-direction: column;
    justify-items: left;
    width: 100%;
}

.workspace-footer{
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid var(--color-back);
    padding-top: 3vh;
}
/*--------------------------*/


/*--------- INPUT STYLES -------*/

.block-inp input{
    outline: none;  /*remove default selected style*/
    /* display: block; */
    border: none;
    border-radius: 8px;
    width: 100%;
    height: 110%;
    background-color: #eae8e8;
    border: 1px solid #d5d5d5;
    box-sizing: border-box;
    padding: 4px 20px;
    font-size:1.2rem;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.block-inp details{
    width: 100%;
}

.block-inp ul{
    height: 50vh !important;
}

.block-inp label{
    text-align: left;
    font-size: 0.8em;
    text-transform: uppercase;
    color: var(--text-faded);
    padding-bottom: 3%;
    font-weight: 600;
}

.block-footer{
    padding-top: 5vh;
    text-align: left;
}

.block-footer button#constr-settings{
    background-color: #fff;
    color: var(--text-primary);
    text-align: left;
    border: 1px solid var(--color-back);
    padding: 10px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.block-footer #constr-settings>div{
    width: 100%;
    display: inline-flex;
    padding-right: 3vw;
}

.block-footer #constr-settings>div p{
    padding-left: 1vw;
    margin: 0;
}

.block-footer #constr-settings .svg_icon path{
    fill: var(--text-faded);
}

.block-footer #constr-settings>div .svg_icon path{
    fill: var(--text-faded);
}

.block-header{
    margin: 0;
}


/*-------- TIMELINE STYLES ------------*/
.step{
    display: grid;
    grid-template-rows: 1fr auto;
    color:#fff;
    height: auto;
    padding: 0 7%;
    border-radius: 8px;
}


.step>*,
.step-params,
.step-params>*,
.param-cell,
.param-cell>*{
    color:#fff;
}

.step.washing{
    background-color: var(--washing);
}

.step.reagent{
    background-color: var(--reagent);
}

.step.temperature{
    background-color: var(--temperature);
}

.step-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 0;
}

.step-header>h3{
    color: #fff;
    text-transform: capitalize;
    font-weight: 100;
    margin: 0;
}

.step-header>div{
    display: flex;
}

button.step-btn{
    background-color: #0000002b;
    color: #fff;
    padding: 5px 2px;
    width: 90px;
    font-size: 16px;
    margin-left: 10px;
}

button.step-btn path{
    fill: #fff;
}

button.step-btn svg{
    margin-right: 5px;
}


.step-params{
    border-top: 1px solid #ffffff62;
    padding: 1vh 0;
}

.param-row{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.param-cell{
    font-size: 16px;
    display: flex;
}

.param-cell> p{
    margin: 0;
    margin-left: 10px;
}

.param-cell> span{
    color: #ffffffb8;
}

.auto-wash-mark{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #fff;
    color: var(--text-primary);
    border-radius: 8px; 
    font-size: 16px;
    width: fit-content;
    padding: 1% 1%;
    margin-top: 20px;
}

.param-row.extra{
    display: grid;
    grid-template-columns: 1fr;
}

.auto-wash-mark p,
.auto-wash-mark h3{
    margin: 0;
    width: auto;
}

.auto-wash-mark>*{
    padding-right: 20px;
}

.auto-wash-mark>svg>path{
    fill: var(--text-faded-accent);
}

/* -------- SETTINGS MODAL (POP-UP) ---------*/
.modal{
    /* display properly is defined and toggled in JSX directly as state */
    position: absolute;
    z-index: 101; 
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: #0000001f;
    align-items: center;
    justify-items: center;
}


.modal-content{
    background-color: #fff;
    border-radius: 8px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    /* grid-template-rows: 1fr 1fr 1fr 1fr; */
    width: 50%;
    height: auto;
    padding: 1% 3%;
}

.modal-content>div{
    border-top: 1px solid var(--color-back);
    padding: 10px 0;
}

.modal-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: none !important;
    padding: none !important;
}

.modal-header>h2,
.modal-header>h3{
    margin: 0;
}

.modal-toggle{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: left;
}

.modal-toggle>label{
    text-align: left;
}

.modal-inp{
    display: grid;
    grid-template-rows: 1fr auto;
    justify-content: flex-start;
}

/* .modal-toggle>input[type=checkbox]
{
    zoom: 3;
} */





