:root {
    --reagent-block-color: #a1ff54;
    --washing-block-color: #34b8ff;
    --temperat-block-color: #fff534;
}

/*-------- MAIN: SECTION LAYOUT & DESIGN -------------*/

#constructor {
    height: 100vh;
    display: grid;
    grid-template-rows: 4fr 15fr 15fr;
}

#control-panel {
    background-color: #e5efef;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 1fr 2fr;
    text-align: justify;
    align-items: center;

}

#workspace {
    background-color: #ffffff;
    background-image: radial-gradient(#c8c8c8 10%, transparent 11%);
    background-size: 12px 12px;
    background-repeat: repeat;
}

#timeline {
    background-color: #e5efef;
    display: grid;
    grid-template-rows: 1fr 4fr;
    padding: 10px 2vw;
}

/*-------- CONTROL PANEL: BUTTON STYLES -------------*/

.btn-group {
    display: block;
    text-align: center;
}

.construct-btn {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: 0 10px;
    font-size: 1.5em;
}

#cb-reagent {
    background-color: var(--reagent-block-color);
}

#cb-washing {
    background-color: var(--washing-block-color);
}

#cb-temperat {
    background-color: var(--temperat-block-color);
}

#cb-delete {
    background-color: #ff4c4f;
}

#cb-save {
    background-color: #ffffff;
}

#cb-settings {
    background-color: #999999;
}

#cb-info {
    background-color: #111;
    color: #fff;
}

/*-------- TIMELINE: STEP BOXES -------------*/

#info-panel{
    display: flex;
    justify-content: space-between;
}

#steps{
    background-color: #dedede;
    padding: 0px 50px;
    overflow: auto;
    height: 95%;
    white-space: nowrap;
    border-radius: 20px;
}

.tl-step{
    display: inline-block;
    width: 10vw;
    height: 100%;
    background-color: #ffffff;
    border-right: 2px dashed #939393;
}

.tl-step:first-child{
    background-color: #ff4c4f;
    border-left: 2px dashed #939393;
}
.tl-step:last-child{
    background-color: #ff4c4f;
}