#popup{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border-radius: 7px;
    box-shadow: 0 0 32px rgba(0,0,0,0.5);
    padding: 40px;
    width: 450px;
    font-size: 26px;
    color: white;
    /* z-index: 100; */
}

#overlay{
    position: fixed;
    height: 100%;
    width: 100%;
    top:0;
    left:0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#message{
    color: #aaa;
    font-size: 15px;
    font-weight: 400;
    margin: 0 0 30px;
    text-align: center;
}

.close-btn-pp{
    position: absolute; /*in corner*/
    top: 10px; /*apply negative values to push it outside the popup box*/
    left: 90%;
    width: 40px;
    height: 40px;
    background-color: aqua;
    border-radius: 50%;
    cursor: pointer;
}

/* .close-btn-pp:hover{
        opacity: 0.4;
} */

.close-btn-pp .close{
    font-size: 36px;
    /* position: absolute;  */
    top: 0;
    left: 0;
    color: #323232;
    display: flex;
    align-items: center;
    justify-content: center;
}
