/*HEADER*/

.page-header {
    position: sticky;
    top: 0px;
    background-color: #bacddb;
    /* background-color: #cfcfcf; */
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
    padding: 20px;
    /* --bar-border-radius: 5px;
    --bar-border: 2px solid #d8d8da; */
    /* display: grid; */
    /* grid-template-columns: 1fr 10fr 5fr; */
    /* gap: 2vw; */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.page-header .open-menu-btn {
    text-align: center;
}

.search-bar-container {
    display: flex;
    height: var(--search-bar-height);
    width: 100%;
}

.search-bar-container button {
    width: calc(var(--search-bar-height) * 1.5);
    height: var(--search-bar-height);
    font-size: calc(var(--search-bar-height) * 0.4);
    background-color: #4242ff;
    color: white;
    border-radius: 0px;
    border-left: 1px solid #d8d8da;
    /* border-top-right-radius: var(--bar-border-radius);
    border-bottom-right-radius: var(--bar-border-radius); */
    border-top: var(--bar-border);
    border-bottom: var(--bar-border);
    border-right: var(--bar-border);
}

.search-bar {
    box-sizing: border-box;
    font-weight: 300;
    width: 90%;
    border-radius: 15px;
    padding: 10px 20px;
    font-size: calc(var(--list-header-height) * 0.35);
    color: #484848;
    caret-color: #68686a;
    border: none;
    /* border-top-left-radius: var(--bar-border-radius);
    border-bottom-left-radius: var(--bar-border-radius);
    border-top: var(--bar-border);
    border-bottom: var(--bar-border);
    border-left: var(--bar-border); */
}

.search-bar:focus {
    outline: 0;
}

.launch-container {
    display: flex;
    margin-right: 30px;
    justify-content: flex-end;
}

.launch-container .protocol-counter {
    width: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: calc(var(--search-bar-height) * 0.4);
}

.launch-container .protocol-submit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.protocol-submit-btn a {
    height: 30px;
    width: 30px;
    /* height: calc(var(--search-bar-height) * 12);
    width: var(--search-bar-height); */
    margin-left: 2vw;
    /* font-size: calc(var(--search-bar-height) * 0.5); */
    background-color: #fff;
    color: #4242ff;
    border-radius: 5px;
    border: 2px solid #d8d8da;
}

.protocol-submit-btn button i {
    font-size: 30px;
}

/*-------------------------*/
/* PROTOCOL LIST*/

.protocol-list {
    width: 90%;
    margin: 2rem auto;
}

.protocol {
    /* max-height: fit-content; */
    background-color: #bacddb;
    margin: 1rem 0;
    overflow: hidden;
    font-size: 1.2em;
}

.protocol-general {
    display: grid;
    grid-template-columns: 10% auto;
    padding: 0.5rem 4rem 0.5rem 1rem;
    min-height: 3.5rem;
    line-height: 1.25rem;
    align-items: center;
    position: relative;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.info-cell-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    column-gap: 7%;
}

.info-cell {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
    align-items: center;
    justify-content: center;
}

.protocol-general .info-cell .label {
    margin: 0;
    color: #757575;
}

.protocol-general::after {
    content: "\002B";
    /*plus icon*/
    font-size: 2rem;
    position: absolute;
    right: 1rem;
}

.protocol-general.active::after {
    content: "\2212";
    /*minus icon*/
}

.protocol-general.active {
    border-top: 3px solid #123d5f;
    border-right: 3px solid #123d5f;
    border-left: 3px solid #123d5f;
    border-bottom: 2px dashed #110d634d;
    background-color: #d0e5f5;
}

.protocol-general.active + .protocol-body {
    border-right: 3px solid #123d5f;
    border-bottom: 3px solid #123d5f;
    border-left: 3px solid #123d5f;
    background-color: #d0e5f5;
}

.protocol-body {
    max-height: 0;
    /* overflow-y: scroll; */
    transition: all 0.4s ease-out;
}

.protocol-body-content {
    padding: 1rem;
    line-height: 1.5rem;
    /* border-top: 2px dashed #110d634d; */
}

#check input.check-to-run {
    width: 32px;
    height: 32px;
}

.protocol-body-content table.dropdown-table {
    width: 100%;
    align-content: center;
}

.protocol-body-content table.dropdown-table tr {
    height: 42px;
    align-content: center;
}

.protocol-body-content table.dropdown-table td {
    width: 33%;
}

.protocol-body-content .protocol-options {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    /* grid-auto-rows: 75px; */
    gap: 10px;
    align-items: center;
    padding-bottom: 20px;
}

.proto-btn {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #123d5f; */
    border: none;
    border-radius: 3px;
    color: #123d5f;
    background-color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    transition: 0.2s;
    font-size: large;
    cursor: pointer;
}

.proto-btn:disabled{
    cursor: auto;
}

.proto-btn:disabled a{
    color: #757575;
}

.protocol-options button a{
    display: flex;
    text-decoration: none;
    color: #123d5f;
    align-items: center;
}

.protocol-body-content .protocol-options button:active,
.protocol-body-content .protocol-options button:hover {
    border: 1px solid #123d5f;
    color: #000;
}

.proto-btn i{
    font-size: 1.5em;
    margin-right: 10px;
}