/*HEADER*/

.page-header {
    position: sticky;
    top:0px;
    background-color: #cfcfcf;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 10px;
    --bar-border-radius: 5px;
    --bar-border: 2px solid #D8D8DA;
    display: grid;
    grid-template-columns: 1fr 10fr 5fr;
    gap: 2vw;
    align-items:center;
    justify-content: center;
    z-index:10; 
}

.page-header .open-menu-btn{
    text-align: center;
}

.search-bar-container {
    display: flex;
    height: var(--search-bar-height);
    width: 100%;
}

.search-bar-container button {
    width: calc(var(--search-bar-height)*1.5);
    height: var(--search-bar-height);
    font-size: calc(var(--search-bar-height)*0.4);
    background-color: #4242FF;
    color: white;
    border-radius: 0px;
    border-left: 1px solid #D8D8DA;
    border-top-right-radius: var(--bar-border-radius);
    border-bottom-right-radius: var(--bar-border-radius);
    border-top: var(--bar-border);
    border-bottom: var(--bar-border);
    border-right: var(--bar-border);
}

.search-bar {
    font-weight: 300;
    width: 100%;
    border-radius: 0px;
    padding: 4px 20px;
    font-size: calc(var(--list-header-height)*0.35);
    color: #484848;
    caret-color: #68686A;
    border-top-left-radius: var(--bar-border-radius);
    border-bottom-left-radius: var(--bar-border-radius);
    border-right: none;
    border-top: var(--bar-border);
    border-bottom: var(--bar-border);
    border-left: var(--bar-border);
}

.search-bar:focus {
    outline: 0;
}

.launch-container {
    display: flex;
    margin-right: 30px;
    justify-content: flex-end;
}

.launch-container .protocol-counter{
    width: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: calc(var(--search-bar-height)*0.4);
}

.launch-container .protocol-submit-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.protocol-submit-btn button {
    height: calc(var(--search-bar-height)*1);
    /* width: var(--search-bar-height); */
    margin-left: 2vw;
    font-size: calc(var(--search-bar-height)*0.5);
    background-color: #fff;
    color: #4242FF;
    border-radius: 5px;
    border: 2px solid #D8D8DA;
}

.protocol-submit-btn button i{
    font-size: 30px;
}



/*-------------------------*/
/* PROTOCOL LIST*/


.protocol-list{
    width: 90%;
    /* max-width: 1000px; */
    margin: 2rem auto;
}

.protocol{
    background-color: #bacddb;
    margin: 1rem 0;
}

.protocol-general{
    display: grid;
    grid-template-columns: 10% auto;
    padding: 0.5rem 4rem 0.5rem 1rem;
    min-height: 3.5rem;
    line-height: 1.25rem;
    align-items: center;
    position: relative;
    cursor: pointer;
    transition: all .4s ease-in-out;
}

.info-cell-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    column-gap: 7%;
}

.info-cell{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
    align-items: center;
    justify-content: center;
}

.protocol-general .info-cell .label{
    margin: 0;
    color: #757575;
}

.protocol-general::after{
    content: "\002B"; /*plus icon*/
    font-size: 2rem;
    position: absolute;
    right: 1rem;
}

.protocol-general.active::after{
    content: "\2212"; /*minus icon*/
}

.protocol-general.active{
    border-top: 3px solid #123d5f;
    border-right: 3px solid #123d5f;
    border-left: 3px solid #123d5f;
    background-color: #dee4fd;
}

.protocol-general.active + .protocol-body{
    border-right: 3px solid #123d5f;
    border-bottom: 3px solid #123d5f;
    border-left: 3px solid #123d5f;
    background-color: #dee4fd
}


.protocol-body{
    max-height: 0;
    overflow: hidden;
    transition: all .4s ease-out;
}

.protocol-body-content{
    padding: 1rem;
    line-height: 1.5rem;
    border-top: 2px dashed #110d634d;
}

#check input.check-to-run{
    width: 32px;
    height: 32px;
}

.protocol-body-content table.dropdown-table{
    width: 100%;
    align-content: center;
}

.protocol-body-content table.dropdown-table tr{
    height: 42px;
    align-content: center;
}

.protocol-body-content table.dropdown-table td{
    width: 33%;
}

.protocol-body-content .protocol-options{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 75px;
    gap: 10px;
    align-items: center;
    padding-bottom: 20px;
}

.protocol-body-content .protocol-options button{
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #123d5f;
    border-radius: 3px;
    color:#123d5f;
    background-color: #fff;
    font-size: 14px;
    font-weight:bold;
    text-transform: uppercase;
    transition: 0.2s;
}

.protocol-body-content .protocol-options button:active,
.protocol-body-content .protocol-options button:hover
{
    border: 1px solid #120d63;
    color: #000;
    background-color: #fff;
}  



