:root {
    --main-width: 25vw;
}

form {
    display:flex;
    flex-direction:column;
    font-size:1.2rem;
    font-weight: 400;
    justify-content: center;
    background-color: rgba(22, 29, 81, 0.597);
    padding: 50px;
    border-radius: 15px;
}

#background{
    height: 100vh;
    background: url("../static/login-backgroud.png");
    background-size: 150px 150px;
    background-repeat: repeat;
    display: grid;
    grid-template-rows: 4fr 1fr;
    /* align-items: center; */
    justify-items: center;
}

form button {
    padding: 10px 20px;
    width: 100%;
    background-color: #123d5f;
    box-shadow: -1px 1px 49px -10px rgba(7, 45, 73, 0.9);
    margin-top:15px;
    color: #fff;
}

.login-form {
    padding-top: 5vh;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    flex-direction: column;
    width: 50vw;
    /* height: 100vh; */
}

label{
    margin-bottom:15px;
    position:relative;
}
input{
    display: block;
    border: none;
    border-radius: 15px;
    width: var(--main-width);
    padding: 20px 20px;
    margin-top:20px;
    outline:none;
    font-size:1.2rem;
}

.login-form button {
    border-radius: 15px;
    padding: 20px 20px;
}

input::placeholder{
    opacity:0;
}
label span{
    position:absolute;
    top:-10px;
    left:20px;
    transform:translateY(40px);
    transition: all 0.3s;
    color: rgb(114, 114, 114);
}

label:focus-within > span,
input:not(:placeholder-shown) + span{
    color:#ffffff;
    transform:translateY(0px);
}

#credits{
    margin-top: auto;
    background-color: #123d5f;
    color: #fff;
    width: 100vw;
    padding: 15px 10%;
    height: fit-content;
    box-sizing: border-box;
    font-size: 18px;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 5fr 1fr 1fr 1fr;
}



.logo img{
    height: 30px;
    width: auto;
}

